body {
    background-color: rgb(56, 56, 121);
    font-family: 'Fira Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-perros {
    width: 3em;
}

h1
{
    font-size: 4em;
}

.imagecontainer
{
    height: 50vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    object-fit: cover;
    height: inherit;
    border: none;
    max-width: 100%;
    border-radius: 1em;
}

button
{
    background-color: rgb(220, 177, 57);
    cursor: pointer;
    width: 10em;    
    font-weight: bold;
    border: none;
    margin: 2em 0;
    border-radius: .2em;
    padding: 1em;
}