body {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-size: cover;
    margin: 0;
}

#input-gatos {
    width: 3em;
}

h1
{
    font-size: 4em;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.515);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagecontainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

img {
    margin: 1em;
    object-fit: cover;
    height: inherit;
    max-height: 200px;
    border: none;
    max-width: 100%;
    border-radius: 1em;
}

.welcome-section {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
}

button
{
    background-color: rgb(220, 177, 57);
    cursor: pointer;
    width: 10em;    
    font-weight: bold;
    border: none;
    margin: 2em 0;
    border-radius: .2em;
    padding: 1em;
}

.footer {
    font-family: Courier, monospace;
    padding: 10px 1em;

}

.footer a {
    color: white;
    font-weight: bold;
    transition: color .2s;
}

.footer a:hover {
    color: rgb(0, 166, 255);
    cursor: pointer;
}